/* Settings */

#icon-options-deemtree {
	background: transparent url(../images/plugin-icon-64.png) left top no-repeat;
	background-size: 32px;
}

.deemtree-visit {
	margin-left: 4px;
	padding: 3px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	font-size: 12px;
	border: 1px none;
	background: #f1f1f1;
	color: #21759B;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}